@{title(CONF.name)}
@{layout('')}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta http-equiv="X-UA-Compatible" content="IE=10" />
	<meta name="robots" content="all,follow" />
	@{if CONF.openplatform}
	<script src="@{if CONF.cdn}@{'%cdn'}@{else}https://cdn.componentator.com@{fi}/openplatform.min@4.js"></script>
	@{fi}
	<script src="/js/spa.min@19.js"></script>
	<link href="/css/spa.min@19.css" rel="stylesheet" />
	@{import('meta', 'head', 'ui.css + default.css', 'default.js + func.js + ui.js + helpers.js', 'favicon.png')}
</head>
<body data---="exec"@{if query.darkmode === '1'} class="ui-dark"@{fi}>

	<div data---="LAZY menu__null__style:2"></div>
	<div data---="LAZY approve__null__cancel:@(Cancel)"></div>
	<div data---="LAZY message__null__style:2"></div>
	<div data---="LAZY notifybar"></div>
	<div data---="LAZY fileuploader"></div>
	<div data---="LAZY clipboard"></div>
	<div data---="LAZY faicons"></div>
	<div data---="LAZY datepicker"></div>
	<div data---="LAZY directory__null__placeholder:@(Search)"></div>
	<div data---="LAZY colorpicker"></div>
	<div data---="shortcuts"></div>

	<div data---="paste"></div>
	<div data---="shortcuts"></div>
	<div data---="loading"></div>

	<div data---="importer__common.form__if:importform;url:/forms/import.html"></div>
	<div data---="part__common.page__if:flows;url:/parts/flows.html" class="hidden invisible"></div>

	<script>

		var common = {};

		common.secret = 'flowstream';
		common.layout = '';
		common.windows = [];
		common.page = 'flows';
		common.openplatform = '@{CONF.openplatform}' === 'true';
		common.designer = '@{CONF.flowstream_designer}' || 'flowstreamdesigner.totaljs.com';
		common.components = '@{CONF.flowstream_components}';
		common.totalversion = +'@{F.version}';
		common.workers = '@{CONF.flowstream_worker)' !== 'false';

		DEF.api = '/api/';
		DEF.dateformat = '@(yyyy-MM-dd)';
		ENV('ts', '@(yyyy-MM-dd HH:mm:ss)');

		ON('@flag showloading', function() {
			SETTER('loading/show');
		});

		ON('@flag hideloading', function() {
			SETTER('loading/hide', 1000);
		});

		function shortcutsprocess(type) {
			return function() {
				var win = $('.ui-windows-focused');
				if (win.length) {
					var w = win.find('iframe')[0].contentWindow;
					w.postMessage(STRINGIFY({ TYPE: 'shortcut', key: type }), '*');
				}
			};
		}

		FIND('shortcuts', function(com) {
			com.register('CMD+ENTER, CTRL+ENTER', shortcutsprocess('CMD+ENTER'));
			com.register('CMD+D, CTRL+D', shortcutsprocess('CMD+D'), true);
			com.register('CMD+F, CTRL+F', shortcutsprocess('CMD+F'), true);
			com.register('remove', shortcutsprocess('remove'));
			com.register('save', shortcutsprocess('save'), true);
		});

	</script>

</body>
</html>