<div data-jc="form" data-jc-path="common.form2" data-jc-config="title:@(Registered components);if:components;width:850;submit:formcomponents_submit" class="hidden">
	<div class="padding">
		<div class="padding bg-smoke" style="border-radius:3px">
			<div data-jc="checkboxlist" data-jc-path="formcomponents.components" data-jc-config="datasource:formcomponents.database;required:true">@(Choose components)</div>
		</div>
		<div class="mt10">
			<a href="javascript:void(0)" class="exec fs12" data-exec="formcomponents_select"><i class="fa fa-caret-right mr5"></i>@(Toggle select)</a>
		</div>
	</div>
	<div class="ui-form-buttons">
		<button name="submit">@(Submit)</button>
		<button name="cancel">@(Close)</button>
	</div>
</div>

<script>

	SETTER('websocket', 'send', { 'type': 'templates' });

	function formcomponents_submit() {
		SET('common.form2', '');
		SETTER('loading', 'show');
		formcomponents.components.waitFor(function(item, next) {
			SETTER('websocket', 'send', { type: 'install', filename: item });
			setTimeout(next, 500);
		}, function() {
			SETTER('loading', 'hide', 1000);
			SETTER('snackbar', 'success', '@(Components have been installed successfully.)');
		});
	}

	function formcomponents_select() {
		formcomponents.database.forEach(function(item) {
			var index = formcomponents.components.indexOf(item);
			if (index === -1)
				formcomponents.components.push(item);
			else
				formcomponents.components.splice(index, 1);
		});
		UPDATE('formcomponents.components');
	}

</script>