<div data-jc="form,dragdropfiles" data-jc-path="common.form" data-jc-config="title:@(Flow components);if:database;width:932;exec:formdatabase_dragdrop;class:+ui-form-dragdrop;submit:formdatabase_submit;close:formdatabase_submit" class="hidden">
	<div class="padding npb" style="background-color:#FFFCD3">
		<div class="b m black"><i class="fa fa-database mr5"></i>@(Installing new components)</div>
		<div class="row">
			<div class="col-md-6 m">
				<div data-jc="textbox" data-jc-path="formdatabase.url" class="m" data-jc-config="maxlength:200;placeholder:@(E.g. https\://domain.com/flowcomponent.js and press enter);type:url;keypress:false;required:true">@(URL address)</div>
			</div>
			<div class="col-md-6 m">
				<div data-jc="filereader" data-jc-path="formdatabase.file" data-jc-config="placeholder:@(Browse device);accept:text/javascript;required:true" data-jc-id="formdatabasefile" class="m">@(Upload .js component)</div>
			</div>
		</div>
		<div data-b="common.templates" data-b-visible="value && value.length > 0" class="hidden">
			<div class="b black" style="margin-bottom:10px"><i class="fa fa-table mr5"></i>@(Predefined set of components:)</div>
			<div class="row">
				<div class="col-md-3 col-sm-4">
					<span class="exec tag tag2 block" data-exec="formdatabase_install" data-value="all">@(Install:)<b> @(All components)</b></span>
				</div>
				<div data-jc="repeater" data-jc-path="common.templates">
				<script type="text/html">
					<div class="col-md-3 col-sm-4">
						<span class="exec tag block" data-exec="formdatabase_install" data-value="{{ name }}">@(Install:) <b>{{ name }}</b> ({{ items.length }}x)</span>
					</div>
				</script>
				</div>
			</div>
			<br />
		</div>
	</div>
	<div class="padding npb">
		<div data-jc="textbox" data-jc-path="formdatabase.search" data-jc-config="type:search;placeholder:@(Search components ...)" class="mt10"></div>
		<br />
		<div data-jc="search" data-jc-path="formdatabase.search" data-jc-config="selector:.jsearch">
			<div class="db-container">
				<div data-jc="repeater-group" data-jc-path="common.components" data-jc-config="group:group" data-b="common.templates" data-b-class="n => (n && n.length ? '-' : '+') + 'db-norefresh'">
					<script type="text/html">
						<div class="jsearch db-item" data-search="{{ name }}" data-id="{{ id }}">
							<span class="exec" data-exec="formdatabase_remove"><i class="fa fa-times-circle"></i></span>
							<span class="exec db-refresh" data-exec="formdatabase_refresh"><i class="fa fa-refresh"></i></span>
							<div>
								<div class="name" title="{{ name }}"><i class="fa fa-circle mr5" style="color:{{ color }}"></i>{{ name }}</div>
								<div class="author">{{ author }}</div>
							</div>
						</div>
					</script>
					<script type="text/html">
						<div class="jsearch db-category" data-search=""><i class="fa fa-folder-o"></i>{{ group }}</div>
						{{ body | raw }}
					</script>
				</div>
			</div>
		</div>
		<br />
	</div>
	<div class="ui-form-buttons ui-center">
		<button name="cancel" style="width:240px">@(Close)</button>
	</div>
</div>

<script>

	SETTER('websocket', 'send', { 'type': 'templates' });

	var formdatabase = { reload: false };

	function formdatabase_submit() {
		setTimeout(function() {
			EMIT('designer.refresh');
			formdatabase.reload && SETTER('confirm', 'confirm', '@(Designer needs to be reloaded. Can I reload it?)', ['@(Yes)', '@(Cancel)'], function(index) {
				!index && location.reload(true);
			});
			formdatabase.reload = false;
		}, 1000);
	}

	function formdatabase_refresh(el) {
		var id = el.parent().attr('data-id');
		var component = common.components.findItem('id', id);
		var len = component.filename.length;
		for (var i = 0, length = common.templates.length; i < length; i++) {
			var template = common.templates[i];
			var item = template.items.findItem(function(url) {
				return url.substring(url.length - (len + 1)) === ('/' + component.filename);
			});
			if (item)
				break;
		}

		if (item) {
			SETTER('websocket', 'send', { type: 'install', filename: item });
			SET('formdatabase.url', '', true);
			SETTER('snackbar', 'success', '@(The component <b>{0}</b> has been refreshed successfully.)'.format(component.name));
		} else
			SETTER('snackbar', 'warning', '@(Sorry, the component doesn\'t exist in templates.)');
	}

	function formdatabase_remove(el) {
		var id = el.parent().attr('data-id');
		SETTER('confirm', 'confirm', '@(Are you sure you want to remove this component?)', ['"trash-o" @(Yes)', '@(Cancel)'], function(index) {
			!index && SETTER('websocket', 'send', { type: 'uninstall', target: id });
		});
	}

	WATCH('formdatabase.url', function(path, value) {
		if (value && value.isURL()) {
			SETTER('websocket', 'send', { type: 'install', filename: value });
			SET('formdatabase.url', '', true);
			SETTER('snackbar', 'success', '@(<b>The component</b> has been installed successfully.)');
		}
	});

	WATCH('formdatabase.file', function(path, value) {
		if (value && value.body) {

			if (value.size / 1024 > 50) {
				SETTER('snackbar', 'warning', '@(The file is too big large. The maximum limit of file size is <b>50 kB</b>.)');
				return;
			}

			if (value.body.indexOf('exports.id') === -1 || value.body.indexOf('exports.install') === -1) {
				SETTER('snackbar', 'warning', '@(This file doesn\'t contain Total.js Flow component.)');
				return;
			}

			Object.keys(common.statics).forEach(function(key) {
				var arr = key.split('.');
				if (arr[0] === 'html') {
					var com = FIND('#' + key);
					com && com.remove();
				}
			});

			formdatabase.reload = true;
			common.statics = {};
			SETTER('websocket', 'send', { type: 'install', filename: value.filename, body: value.body });
			SET('formdatabase.file', null, true);
			SETTER('snackbar', 'success', '@(The component has been installed successfully.)');
		}
	});

	function formdatabase_install(el) {
		var name = el.attr('data-value');
		var items = [];

		if (name  === 'all')
			common.templates.forEach(function(t){
				items = items.concat(t.items);
			});
		else
			items = common.templates.findItem('name', name).items;

		items.quicksort();
		SET('formcomponents.database', items);
		SET('formcomponents.components', items.slice(0), true);
		SET('common.form2', 'components');
	}

	function formdatabase_dragdrop(files) {
		FIND('#formdatabasefile').process(files);
	}

</script>