<div data-jc="form" data-jc-path="common.form" data-jc-config="if:import;width:500;submit:formimport_submit;title:Import flow" data-jc-init="formimport_init" class="hidden">
	<div class="padding" data-b="formimportanalysis.is" data-b-class="n => n ? '+bg-smoke' : '-bg-smoke'">
		<div data-jc="textarea" data-jc-path="formimport.body" class="m" data-jc-config="height:200;required:true" data-jc-value="''">@(Put exported data)</div>
		<div data-jc="checkbox" data-jc-path="formimport.replace">@(Clear current design)</div>
	</div>
	<div class="hidden" data-b="formimportanalysis.is" data-b-visible="n => n === true">
		<hr class="nmt" />
		<div class="padding npt">
			<div data-b="formimportanalysis.tabs" data-b-visible="n => n && n.length > 0" class="m">
				<div data-jc="dropdowncheckbox" data-jc-path="formimport.tabs" data-jc-config="datasource:formimportanalysis.tabs;placeholder:@(Import all tabs)">@(Choose tabs)</div>
			</div>
			<div data-jc="checkbox" data-jc-path="formimport.components">@(Install missing components from templates)</div>
			<div data-b="formimportanalysis.variables" data-b-visible="n => n" class="m">
				<div data-jc="checkbox" data-jc-path="formimport.variables">@(Import and replace variables)</div>
			</div>
			<div data-jc="error" data-jc-path="formimportanalysis.errors"></div>
		</div>
	</div>
	<div class="ui-form-buttons center">
		<div data-jc="validation" data-jc-path="formimport" data-jc-config="if:value.is === true">
			<button name="submit" disabled="disabled">@(IMPORT)</button>
		</div>
		<button name="cancel">@(Close)</button>
	</div>
</div>

<script>

	SETTER('websocket', 'send', { 'type': 'templates' });

	function formimport_reload() {
		SET('formimport.tabs', []);
		SET('formimport.replace', false);
		SET('formimport.variables', true);
		SET('formimport.components', true);
		SET('formimport.body', '', true);
	}

	function formimport_analyze() {
		var data = null;

		try {
			data = PARSE(decodeURIComponent(atob(formimport.body.trim().replace(/\n|\r/g, ''))));
		} catch (e) {}

		if (!data) {
			SET('formimport.is', false);
			SET('formimportanalysis', { is: false });
			// bad data
			return;
		}

		var errors = [];

		data.components.forEach(function(item) {
			var component = common.components.findItem('component', item.component);
			!component && errors.push({ error: '@(Component "{0}" doesn\'t exist.)'.format(item.component), name: item.component });
		});

		data.errors = errors.length ? errors : null;
		data.is = true;
		SET('formimport.is', true);
		SET('formimportanalysis', data);
	}

	function formimport_init(component) {
		WATCH('formimport.body', formimport_analyze);
	}

	function formimport_installcomponents(callback) {

		var arr = [];
		var tmp = {};

		formimportanalysis.errors.forEach(function(item) {
			tmp['/' + item.name + '.js'] = true;
		});

		Object.keys(common.templates).forEach(function(item) {
			common.templates[item].items.forEach(function(link) {
				var name = link.substring(link.lastIndexOf('/'));
				if (tmp[name]) {
					arr.push(link);
					delete tmp[name];
				}
			});
		});

		var importcomponents = function() {
			SETTER('loading', 'show');
			arr.wait(function(item, next) {
				flownotifications.push('@(Installing component:) <b>{0}</b>'.format(item.substring(item.lastIndexOf('/') + 1)));
				shownotifications(true);
				SETTER('websocket', 'send', { type: 'install', filename: item });
				setTimeout(next, 1000);
			}, function() {
				setTimeout(callback, 2000);
			});
		};

		var err = [];

		Object.keys(tmp).forEach(function(key) {
			err.push('<span class="tag tag-small">{0}</span>'.format(key.substring(1).replace(/\.js$/, '')));
		});

		if (err.length) {
			setTimeout(function() {
				SETTER('confirm', 'confirm', '<b>@(Templates don\'t contain these components:)</b><br />' + err.join(', ') + '<br /><br /><div style="font-size:16px;color:black">@(Do you want to continue in importing?)</div>', ['"warning" @(Yes, continue)', '@(Cancel)'], function(index) {
					!index && importcomponents();
				});
			}, 1000);
		} else
			importcomponents();
	}

	function formimport_submit(form) {
		SETTER('confirm', 'confirm', '@(Are you sure you want to restore entered data?)', ['"check-circle" @(Yes)', '@(Cancel)'], function(index) {

			if (index)
				return;

			var fnapply = function() {
				var err = false;
				SETTER('loading', 'show');

				var tabs = null;
				var components = null;

				if (formimport.tabs.length) {
					tabs = [];
					components = [];

					formimport.tabs.forEach(function(item) {
						var tab = formimportanalysis.tabs.findItem('id', item);
						tab && tabs.push(tab);
					});

					tabs.forEach(function(item) {
						formimportanalysis.components.forEach(function(component) {
							if (component.tab === item.id)
								components.push(component);
						});
					});

				} else {
					tabs = formimportanalysis.tabs;
					components = formimportanalysis.components;
				}

				if (formimport.replace) {
					flow.tabs = tabs;
					flow.components = components;
				} else {

					tabs.forEach(function(item) {
						if (!flow.tabs.findItem('id', item.id)) {
							flow.tabs.push(item);
							var e = flow.tabs.findItem('linker', item.linker);
							if (e)
								item.linker = item.linker + '-' + GUID(3);
						}
					});

					components.forEach(function(item) {
						!flow.components.findItem('id', item.id) && flow.components.push(item);
					});
				}

				flow.designer = [];
				flow.loaded = true;

				formimportanalysis.variables && SETTER('websocket', 'send', { type: 'variables', body: formimportanalysis.variables });

				if (!flow.tabs || !flow.tabs.length)
					flow.tabs = [{ id: Date.now().toString(), name: '@(Main)', icon: 'fa-object-ungroup', linker: 'main' }];

				location.hash = flow.tabs[0].linker;
				!flow.components && (flow.components = []);
				flow.connections = {};

				flow.components.forEach(function(item) {
					item.$component = common.components.findItem('id', item.component);
					Object.keys(item.connections).forEach(function(index) {
						item.connections[index].forEach(function(conn) {
							flow.connections[item.id + '#' + index + '#' + conn.index + '#' + conn.id] = true;
						});
					});
				});

				setState(MESSAGES.apply);
				UPDATE('flow');
				SETTER('binder', 'scan');
				form.hide();

				setTimeout(function() {
					EMIT('designer.refresh');
					success();
				}, 100);
			};

			if (formimportanalysis.errors.length)
				formimport_installcomponents(fnapply);
			else {
				fnapply();
				SETTER('loading', 'hide', 1000);
			}
		});
	}

</script>