<div data-jc="form" data-title="@(Edit tab)" data-jc-path="common.form" data-if="value === 'tab'" data-width="500px" data-jc-init="formtab_init" class="hidden" data-enter="true">
	<div class="padding npb">
		<div data-jc="textbox" data-jc-path="formtab.name" data-maxlength="30" data-required="true" class="m" data-placeholder="@(Type a tab name)">@(Name)</div>
		<div data-b="formtab.id" data-b-visible="n => n" class="hidden m fs12">
			<div class="help">@(Be careful, removed tab removes all components in this tab.)</div>
			<div class="mt5"><a href="javascript:void(0)" class="link exec red" data-exec="formtab_remove"><i class="fa fa-times-circle"></i>@(Remove this tab)</a></div>
		</div>
	</div>
	<div class="ui-form-buttons">
		<div data-jc="validation" data-jc-path="formtab">
			<button name="submit" disabled="disabled">@(SUBMIT)</button>
		</div>
		<button name="cancel">@(Close)</button>
	</div>
</div>

<script>
	function formtab_init(component) {
		component.submit = function(hide) {
			EMIT('tabs.save', formtab);
			hide();
		};
	}

	function formtab_remove() {
		SETTER('confirm', 'confirm', '@(Are you sure you want to remove this tab?)', ['@(Yes)', '@(Cancel)'], function(index) {
			if (index)
				return;
			SET('common.form', '');
			OPERATION('tabs.rem')(formtab.id);
		});
	}
</script>