<div data-jc="form" data-title="@(Edit tab)" data-jc-path="common.form" data-if="value === 'tab'" data-width="500px" data-jc-init="formtab_init" class="hidden" data-enter="true">
	<div class="padding npb">
		<div data-jc="textbox" data-jc-path="formtab.name" data-maxlength="30" data-required="true" class="m" data-placeholder="@(Type a tab name)">@(Name)</div>

		<div class="row">
			<div class="col-md-3 m">
				<div data-jc="dropdown" data-jc-path="formtab.position" data-required="true" data-jc-type="number" data-source="formtabpositions">@(Position)</div>
			</div>
		</div>

		<div data-b="formtab.id" data-b-visible="n => n" class="hidden m fs12">
			<div class="mt5"><a href="javascript:void(0)" class="link exec" data-exec="formtab_duplicate"><i class="fa fa-copy"></i>@(Duplicate tab with all components)</a></div>
			<hr style="margin:10px 0" />
			<div class="help">@(Be careful, removed tab removes all components in this tab.)</div>
			<div class="mt5"><a href="javascript:void(0)" class="link exec red" data-exec="formtab_remove"><i class="fa fa-times-circle"></i>@(Remove this tab)</a></div>
		</div>
	</div>
	<div class="ui-form-buttons">
		<div data-jc="validation" data-jc-path="formtab">
			<button name="submit" disabled="disabled">@(SUBMIT)</button>
		</div>
		<button name="cancel">@(Close)</button>
	</div>
</div>

<script>

	function formtab_init(component) {
		component.submit = function(hide) {
			EMIT('tabs.save', formtab);
			hide();
		};
	}

	function formtab_remove() {
		SETTER('confirm', 'confirm', '@(Are you sure you want to remove this tab?)', ['@(Yes)', '@(Cancel)'], function(index) {
			if (index)
				return;
			SET('common.form', '');
			OPERATION('tabs.rem')(formtab.id);
		});
	}

	function formtab_duplicate() {

		SETTER('loading', 'show');

		var components = [];
		var connections = [];
		var newtab = {};

		newtab.name = formtab.name + ' (1)';
		newtab.id = Date.now().toString();

		flow.components.forEach(function(item) {
			if (item.tab === formtab.id) {
				var d = CLONE(item);
				d.$component = item.$component;
				d.tab = newtab.id;
				components.push(d);
				Object.keys(d.connections).forEach(function(index) {
					d.connections[index].forEach(function(item) {
						connections.push(item);
					});
				});
			}
		});

		var db = {};

		components.waitFor(function(item, next) {
			var id = Date.now().toString();
			db[item.id] = id;
			item.id = id;
			flow.components.push(item);
			setTimeout(next, 50);
		}, function() {
			connections.forEach(function(item) {
				item.id = db[item.id];
				if (item.id === null)
					console.log('SHIT');
			});

			flow.tabs.push(newtab);
			EMIT('tabs.save', newtab);
			SETTER('loading', 'hide', 1000);
			SET('common.form', '');
		});
	}
</script>