<div data-jc="form" data-jc-path="common.form" data-jc-config="if:tab;width:400;enter:true;title:@(Edit tab);submit:formtab_submit;autofocus:true" class="hidden">
	<div class="padding npb">
		<div data-jc="textbox" data-jc-path="formtab.name" data-jc-config="maxlength:30;required:true;placeholder:@(Type a tab name)" class="m">@(Name)</div>

		<div class="row">
			<div class="col-md-3 m">
				<div data-jc="dropdown" data-jc-path="formtab.position" data-jc-config="required:true;type:number;datasource:formtabpositions">@(Position)</div>
			</div>
		</div>

		<div data-b="formtab.id" data-b-visible="n => n" class="hidden m fs12">
			<div class="mt5"><a href="javascript:void(0)" class="link exec" data-exec="formtab_duplicate"><i class="fa fa-copy"></i>@(Duplicate tab with all components)</a></div>
			<div data-b="formtab.id" data-b-visible="n => n && flow.tabs.length > 1">
				<hr style="margin:10px 0" />
				<div class="help">@(Be careful, removed tab removes all components in this tab.)</div>
				<div class="mt5"><a href="javascript:void(0)" class="link exec red" data-exec="formtab_remove"><i class="fa fa-times-circle"></i>@(Remove this tab)</a></div>
			</div>
		</div>
	</div>
	<div class="ui-form-buttons">
		<div data-jc="validation" data-jc-path="formtab">
			<button name="submit" disabled="disabled">@(SUBMIT)</button>
		</div>
		<button name="cancel">@(Close)</button>
	</div>
</div>

<script>

	function formtab_submit(form) {
		EMIT('tabs.save', formtab);
		form.hide();
	}

	function formtab_remove() {
		SETTER('confirm', 'confirm', '@(Are you sure you want to remove this tab?)', ['"trash-o" @(Yes)', '@(Cancel)'], function(index) {
			if (index)
				return;
			SET('common.form', '');
			OPERATION('tabs.rem')(formtab.id);
		});
	}

	function formtab_duplicate() {

		SETTER('loading', 'show');

		var components = [];
		var connections = [];
		var newtab = {};

		newtab.name = formtab.name;
		newtab.id = Date.now().toString();

		flow.components.forEach(function(item) {
			if (item.tab === formtab.id) {
				var d = CLONE(item);
				d.$component = item.$component;
				d.tab = newtab.id;
				components.push(d);
				Object.keys(d.connections).forEach(function(index) {
					d.connections[index].forEach(function(item) {
						connections.push(item);
					});
				});
			}
		});

		var db = {};

		components.waitFor(function(item, next) {
			var id = Date.now().toString();
			db[item.id] = id;
			item.id = id;
			flow.components.push(item);
			setTimeout(next, 50);
		}, function() {

			connections.forEach(function(item) {
				item.id = db[item.id];
			});

			flow.tabs.push(newtab);
			EMIT('tabs.save', newtab);
			SETTER('loading', 'hide', 1000);
			SET('common.form', '');
		});
	}
</script>