<div class="appmenu">
	<ui-component name="noscrollbar" config="parent:window;margin:60" class="invisible">
		<ui-bind path="common.menu" config="template">
			<script type="text/html">
				{{ foreach m in value }}
					{{ if m === '-' }}
					<hr />
					{{ else if m.hidden !== true }}
					<div class="exec" data-exec="common/menu" title="{{ m.name }}" data-id="{{ m.id }}"><i class="{{ m.icon }}"></i></div>
					{{ fi }}
				{{ end }}
			</script>
		</ui-bind>
	</ui-component>
</div>

<div class="appmain">
	<ui-component name="viewbox" config="parent:window;scrollbar:1;scrollbarshadow:1;margin:90" class="invisible">

		<ui-component name="empty" path="common.groups" config="parent:auto" class="invisible">

			<script type="text/html">
				<div>@(This Total.js Flow application doesn't contain any Flow)</div>
				<div class="m b">@(Create something awesome)</div>
				<div style="max-width:220px;margin:0 auto;width:100%;padding:5px">
					<button class="exec button b" data-exec="common/create"><i class="ti ti-plus-circle mr5"></i>@(Create Flow)</button>
				</div>
			</script>

			<div>

				<div class="padding npb help nmt">
					<ui-bind path="common.items" config="text b:value ? value.length : 0">@(Total running FlowStreams): <b></b></ui-bind>
				</div>

				<ui-bind path="common.groups" config="template" class="flowstreams">
					<script type="text/html">
						{{ foreach g in value }}
							<div class="flows">
								{{ if g.name }}<h2>{{ g.name }}</h2>{{ fi }}
								{{ foreach m in g.items }}
								<figure class="exec exec3{{ if m.stats && m.stats.paused }} paused{{ fi }}" data-exec="common/open" data-id="{{ m.id }}" data-exec3="common/contextmenu">
									<section{{ if m.color }} style="border-color:{{ m.color }}"{{ fi }}>
										<div class="ispaused"><i class="ti ti-pause"></i></div>
										{{ if m.reference }}<div class="reference">{{ m.reference }}</div>{{ fi }}
										<div class="options exec" data-exec="common/contextmenu" data-prevent="true"><i class="ti ti-ellipsis-v"></i></div>
										<div class="icon"{{ if m.color }} style="color:{{ m.color }}"{{ fi }}><i class="{{ m.icon }}"></i></div>
										<div class="meta">
											<div class="name">{{ if m.version }}<span style="background-color:{{ m.version | color }}">{{ m.version }}</span>{{ fi }}{{ m.name }}</div>
											<div class="author">@(Author): {{ m.author | empty }}</div>
											<div class="size">@(Size): {{ m.size | filesize }}</div>
											<div class="proxy"><i class="ti ti-server mr5"></i>@(Proxy): {{ if m.proxypath }}<span>{{ m.proxypath }}</span>{{ else }}---{{ fi }}</div>
										</div>
										<div class="stats">
											<div><span>{{ m.stats.memory | filesize }}</span><label>@(Memory)</label></div>
											<div><span>{{ m.stats.messages | format(0) }}</span><label>@(Messages)</label></div>
											<div><span>{{ m.stats.pending | format(0) }}</span><label>@(Pending)</label></div>
											<div><span>{{ m.stats.mm | format(0) }}</span><label>@(Per minute)</label></div>
											<div><span>{{ m.stats.errors | format(0) }}</span><label>@(Errors)</label></div>
										</div>
									</section>
								</figure>
								{{ end }}
							</div>
						{{ end }}
					</script>
				</ui-bind>
			</div>
		</ui-component>
	</ui-component>
	<footer>
		<ui-bind path="common.stats" config="template;show" class="hidden">
			<script type="text/html">
				<span><b>{{ value.memory | filesize }}</b>@(Memory)</span>
				<span><b>{{ value.messages | format(0) }}</b>@(Messages)</span>
				<span><b>{{ value.pending | format(0) }}</b>@(Pending)</span>
				<span><b>{{ value.mm | format(0) }}</b>@(Per minute)</span>
				<span class="center" title="FlowStream: {{ value.version }}, Total.js: {{ value.total }}, Node.js: {{ value.node }}">FlowStream v{{ value.version }} | Total.js: v{{ value.total }}</span>
			</script>
		</ui-bind>
	</footer>
</div>