<div data---="largeform__common.form__title:@(Flow components);if:database;icon:database;width:932;submit:database/submit;scrollbar:1" class="hidden">

	<div data---="dragdropfiles__null__exec:database/dragdrop;class:+ui-form-dragdrop">
		<div class="padding npb">
			<div class="row">
				<div class="col-md-6 m">
					<button class="button-install exec" data-exec="database/install_url"><i class="fa fa-globe"></i>@(Install from URL address)</button>
				</div>
				<div class="col-md-6 m">
					<button class="button-install exec" data-exec="database/install_file"><i class="far fa-file-alt"></i>@(Upload component)</button>
				</div>
			</div>
		</div>
		<div class="padding npb bg-yellow">
			<div data-bind="common.templates__show:value && value.length > 0" class="hidden">
				<div class="b black" style="margin-bottom:10px"><i class="fa fa-table mr5"></i>@(Predefined set of components:)</div>
				<div class="row">
					<div class="col-md-3 col-sm-4">
						<span class="exec tag tag2 block" data-exec="database/install" data-value="all">@(Install:)<b> @(All components)</b></span>
					</div>
					<div data---="repeater__common.templates">
					<script type="text/html">
						<div class="col-md-3 col-sm-4">
							<span class="exec tag block" data-exec="database/install" data-value="{{ name }}">@(Install:) <b>{{ name }}</b> ({{ items.length }}x)</span>
						</div>
					</script>
					</div>
				</div>
				<br />
			</div>
		</div>
		<div class="padding npb">
			<div data---="input__formdatabase.search__type:search;placeholder:@(Search by component name)" class="mt10">@(Search)</div>
			<div data-bind="common.components__show:value && value.length" class="hidden fs12 mt10"><span class="link exec red" data-exec="database/removeall" style="float:right"><i class="fa fa-trash-o mr5"></i>@(Remove all components)</span></div>
			<div data-bind="formdatabase.updatescount__show" class="hidden fs12 mt10"><span class="link exec" data-exec="database/update"><i class="fa fa-refresh fa-spin mr5"></i>@(Update components)</span></div>
			<div class="clearfix"></div>
			<div data-bind="formdatabase.progress__show:value && value < 99" class="hidden">
				<br />
				<div class="fs11"><i class="fa fa-refresh fa-spin mr5"></i>@(Getting new updates ...)</div>
				<div class="mt5" data---="progress__formdatabase.progress"></div>
			</div>
			<div data---="search__formdatabase.search__selector:.jsearch" class="mt10">
				<div class="db-container">
					<div data---="repeatergroup__common.components__group:group;$setter:database/checkupdates" data-bind="common.templates__.db-norefresh:!(value && value.length)" class="dbcomponents">
						<script type="text/html">
							<div class="jsearch db-item{{ if canupdate }} db-item-update{{ fi }}" data-search="{{ name }}" data-id="{{ id }}">
								<span class="exec" data-exec="database/remove"><i class="fa fa-trash-o"></i></span>
								<span class="exec db-refresh{{ if !canupdate }} hidden{{ fi }} refresh-{{ name }}" title="@(Update from repository)" data-exec="database/refresh"><i class="fa fa-refresh"></i></span>
								<div class="name" title="{{ name }}"><i class="fa fa-circle mr5" style="color:{{ color }}"></i>{{ name }}{{ if version }} <span>v{{ version }}</span>{{ fi }}<b class="canupdate">@(new update)</b></div>
							</div>
						</script>
						<script type="text/html">
							<div class="jsearch db-category" data-search=""><i class="fa fa-folder-o"></i>{{ group }}</div>
							{{ body | raw }}
						</script>
					</div>
				</div>
			</div>
			<br />
		</div>
	</div>

	<nav>
		<button name="submit" style="width:100%;max-width:inherit">@(Close window)</button>
	</nav>
</div>

<script>

	var formdatabase = { reload: false, updates: {}, versioncurrent: null, versioncount: 0, versionindex: 0, updatescount: 0 };

	PLUGIN('database', function(exports) {

		SETTER('websocket', 'send', { 'type': 'components' });

		exports.submit = function(hide) {
			setTimeout(function() {
				EMIT('designer.refresh');
				formdatabase.reload && SETTER('approve', 'show', '@(Designer needs to be reloaded. Can I reload it?)', '"fa fa-refresh" @(Reload)', function(index) {
					location.reload(true);
				});
				formdatabase.reload = false;
			}, 1000);
			hide();
		};

		exports.refreshdatabase = function() {
			setTimeout(function() {
				SETTER('websocket', 'send', { 'type': 'database' });
			}, 1000);
		};

		exports.refresh = function(el) {
			var id = el.parent().attrd('id');
			var component = common.components.findItem('id', id);
			var len = component.filename.length;
			for (var i = 0, length = common.templates.length; i < length; i++) {
				var template = common.templates[i];
				var item = template.items.findItem(function(item) {
					return item.name === component.id;
				});
				if (item)
					break;
			}

			if (item) {
				SETTER('websocket', 'send', { type: 'install', filename: item.url });
				SET('formdatabase.url', '', true);
				SETTER('message', 'success', '@(The component <b>{0}</b> has been refreshed successfully.)'.format(component.name));
			} else
				SETTER('message', 'warning', '@(Sorry, the component doesn\'t exist in templates.)');
		};

		exports.install_url = function(el) {
			var opt = {};
			opt.element = el;
			opt.icon = 'fa fa-globe';
			opt.value = 'https://';
			opt.summary = '@(Enter complete URL address to the Flow component):';
			opt.callback = function(value) {
				if (value.isURL()) {
					SETTER('websocket', 'send', { type: 'install', filename: value });
					SETTER('message', 'success', '@(<b>The component</b> has been installed successfully.)');
				}
			};
			SETTER('floatinginput', 'show', opt);
		};

		exports.install_file = function() {
			SETTER('filereader2', 'open', 'text/*', function(value) {

				if (value && value.body) {

					if (value.size / 1024 > common.limit) {
						SETTER('message', 'warning', '@(The file is too big large. The maximum limit of file size is <b>{0} kB</b>.)'.format(common.limit));
						return;
					}

					if (value.body.indexOf('exports.id') === -1 || value.body.indexOf('exports.install') === -1) {
						SETTER('message', 'warning', '@(This file doesn\'t contain Total.js Flow component.)');
						return;
					}

					Object.keys(common.statics).forEach(function(key) {
						var arr = key.split('.');
						if (arr[0] === 'html') {
							var com = FIND('#' + key);
							com && com.remove();
						}
					});

					formdatabase.reload = true;
					common.statics = {};
					SETTER('websocket', 'send', { type: 'install', filename: value.filename, body: value.body });
					SET('formdatabase.file', null, true);
					SETTER('message', 'success', '@(The component has been installed successfully.)');
				}

			});
		};

		exports.remove = function(el) {
			var id = el.parent().attrd('id');
			SETTER('approve', 'show', '@(Are you sure you want to remove this component?)', '"trash-o" @(Remove)', function() {
				SETTER('websocket', 'send', { type: 'uninstall', target: id });
				exports.refreshdatabase();
			});
		};

		exports.removeall = function(el) {
			var id = el.parent().attrd('id');
			SETTER('approve', 'show', '@(Are you sure you want to remove all components?)', '"trash-o" @(Remove)', function() {
				var id = [];
				$('.db-item').each(function() {
					id.push($(this).attrd('id'));
				});
				SETTER('loading', 'show');
				id.wait(function(id, next) {
					SETTER('websocket', 'send', { type: 'uninstall', target: id });
					setTimeout(next, 200);
				}, function() {
					SETTER('message', 'success', '@(All components have been removed successfully.)');
					setTimeout(function() {
						exports.refreshdatabase();
						SETTER('loading', 'hide', 2000);
					}, 1000);
				});
			});
		};

		exports.install = function(el) {
			var name = el.attrd('value');
			var items = [];

			if (name  === 'all')
				common.templates.forEach(function(t){
					items = items.concat(t.items);
				});
			else
				items = common.templates.findItem('name', name).items;

			items.quicksort('url');
			SET('formcomponents.database', items);
			SET('formcomponents.components', items.slice(0).map(function(item) {
				return item.url;
			}), true);
			SET('common.form2', 'components');
		};

		exports.update = function() {
			SETTER('approve', 'show', '@(Are you sure you want to update components?)', '"refresh" @(Update)', function() {

				var list = [];
				var items = [];

				common.templates.forEach(function(t){
					items = items.concat(t.items);
				});

				$('.dbcomponents').find('.db-item').each(function() {
					var el = $(this);
					var is = el.find('.canupdate').is(':visible');
					if (is) {
						var com = items.findItem('name', el.attrd('id'));
						com && list.push(com);
					}
				});

				SET('formdatabase.updatescount', 0);

				SETTER('loading', 'show');
				list.wait(function(item, next, index) {
					SET('formdatabase.progress', (index * 100) / list.length);
					SETTER('websocket', 'send', { type: 'install', filename: item.url });
					setTimeout(next, 1000);
				}, function() {
					SETTER('loading', 'hide');
				});
			});
		};

		exports.checkupdates = function() {
			setTimeout2('checkupdates', function() {
				SET('formdatabase.updatescount', $('.db-item-update').length);
			}, 500);
		};

		exports.dragdrop = function(files) {
			FIND('#formdatabasefile').process(files);
		};

		WATCH('common.templates', function() {
			UPD('common.components');
		});

	});

</script>
