/*auto*/
html,body { height: 100%; overflow: hidden; }
body { background-color: #E6E9ED; font-smoothing: antialiased; }

:root {
	--radius: 3px;
	--color: #4285F4;
}

.mainmenu { float: left; width: 217px; height: 100%; background-color: white; overflow: hidden; transition: margin 0.3s; }
.panel { float: right; width: 340px; height: 100%; background-color: white; overflow: hidden; transition: margin-right 0.3s; position: relative; }
.panel-minized .panel { margin-right: -340px; }
.panel-minized .body { margin-right: 0; }
.body { margin-left: 217px; margin-right: 340px; height: 100%; border-left: 1px solid #D0D0D0; border-right: 1px solid #D0D0D0; overflow: hidden; background-color: #F5F5F5; position: relative; transition: margin 0.3s; }

.hidetools { position: relative; width: 100%; }
.hidetools button { background-color: white; font-size: 11px; height: 20px; width: 20px; border: 0; outline: 0; position: absolute; top: 50px; z-index: 10; padding: 0; }
.hidetools button:hover { opacity: 0.9; }
.hidetools button:first-child { right: 0; border-radius: 0 0 0 3px; }
.hidetools button:last-child { left: 0; border-radius: 0 0 3px 0; }

.themedark .panel * { scrollbar-face-color: #646464; scrollbar-base-color: #646464; scrollbar-3dlight-color: #646464; scrollbar-highlight-color: #646464; scrollbar-track-color: #000; scrollbar-arrow-color: #000; scrollbar-dark-shadow-color: #646464; }
/*
.themedark .panel ::-webkit-scrollbar { width: 15px; height: 4px; }
.themedark .panel ::-webkit-scrollbar-button {  background-color: #666; }
.themedark .panel ::-webkit-scrollbar-track {  background-color: #646464; }
.themedark .panel ::-webkit-scrollbar-track-piece { background-color: #000; }
.themedark .panel ::-webkit-scrollbar-thumb { height: 50px; background-color: #666; border-radius: 3px; }
.themedark .panel ::-webkit-scrollbar-corner { background-color: #646464; }
.themedark .panel ::-webkit-resizer { background-color: #666; }
*/

.button-install { display: block; text-align: center; height: 40px; background-color: var(--color); font-size: 16px; color: #FFF; cursor: pointer; width: 100%; border: 0; border-radius: var(--radius); }
.button-install i { margin-right: 8px; }

.tabs-scroller { overflow-y: hidden; overflow-x: scroll; height: 75px; overflow-scrolling: touch; }
.tabs-scroller nav { display: block;}
.tabs-flow { margin-right: 150px; }

.themedark .hidetools button { background-color: #404040; }
.components-search-padding { padding: 15px; border-bottom: 1px solid #E0E0E0; }
.themedark .components-search-padding { border-bottom-color: #404040; }

.body-traffic-heading { line-height: 18px; padding: 20px 20px 0 15px; font-size: 12px; }
.body-traffic-heading .checkboxes { border-top: 1px solid #EEE; border-bottom: 1px solid #EEE; padding: 10px 0; margin: 10px 0 5px; }
.themedark .body-traffic-heading .checkboxes { border-top-color: #303030; border-bottom-color: #303030; }

.shortcuthint b { padding-top: 5px; display: block; color: black; }
.shortcuthint { font-size: 12px; padding-bottom: 5px; border-top: 1px solid #E0E0E0; }
.shortcuthint:first-child { border-top: 0; }

#panel-notification { background-color: #FFFCD5; color: #837D2E; left: 20px; right: 20px; bottom: 17px; border-radius: 3px; box-shadow: 0 2px 10px rgba(0,0,0,0.04); position: absolute; padding: 12px 15px; font-size: 12px; transition: all 0.5s; transform: translate(150px,0); opacity: 0; border: 1px solid #EDE99C; z-index: 100 }
#panel-notification div { line-height: 14px; margin-top: 3px; }
#panel-notification label { font-size: 10px; text-transform: uppercase; display: block; font-weight: bold; color: black; }
#panel-notification label i { margin-right: 3px; margin-bottom: 3px; }
.panel-notified { transform: translate(0px,0) !important; opacity: 1 !important; }

#info-panel-notes .markdown { margin: 5px 0 20px; padding: 15px 15px 5px; border-radius: 3px; background-color: #FEFBE8; border: 1px solid #FDF5C8; color: #573C0F; }
#info-panel-notes .markdown hr { border-color: #eae2b1; }

.themedark #info-panel-notes .markdown { background-color: #171717; border-color: #252525; color: gray; }
.themedark #info-panel-notes .markdown hr { border-color: #383838; }

.panel .tabs button { width: 25%; font-size: 12px; }

section > label i { margin-right: 5px; }
section > label { display: block; padding: 8px 15px; color: #A0A0A0; font-size: 10px; text-transform: uppercase; background-color: #F9F9F9; border-radius: 3px 3px 0 0; text-shadow: 0 1px 1px white; border: 1px solid #E0E0E0; border-bottom: 0; font-weight: bold; }
section > div { background-color: white; border-radius: 0 0 3px 3px; line-height: 18px; border: 1px solid #E0E0E0; }
section > div:first-child { border-radius: 3px; }

nav > .onlyicon { min-width: 30px; }
nav > .onlyicon i { margin-right: 0; width: 100%; text-align: center; display: block; padding-top: 0; }
nav .highlight i { color: white; }
nav .highlight { color: white !important; background-color: silver; font-weight: bold; text-shadow: 1px 1px 1px rgba(0,0,0,0.1); }
nav button.highlight i { color: white; }
nav button.highlight { color: white !important; background-color: silver; font-weight: bold; text-shadow: 1px 1px 1px rgba(0,0,0,0.1); }
.tabs-controls .highlight { width: 120px; }
.tabs-controls button { width: 48px; padding: 0; }

.tabs { background-color: #E6E9ED; box-shadow: inset 0 -2px 10px rgba(0,0,0,0.04); height: 50px; overflow: hidden; }
.tabs a { float: left; padding: 15px 14px 0; font-size: 14px; color: gray; height: 50px; border-left: 1px solid #D9D9D9; max-width: 150px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; text-align: center; border-bottom-color: #D9D9D9; position: relative; }
.tabs a:first-child { border-left: 0; }
.tabs a:hover { text-decoration: none; color: black; }
.tabs button { float: left; padding: 0 14px 0; font-size: 14px; color: gray; height: 50px; border: 0; border-left: 1px solid #D9D9D9; max-width: 150px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; text-align: center; border-bottom-color: #D9D9D9; outline: 0; background-color: transparent; cursor: pointer; }
.tabs button:first-child { border-left: 0; }
.tabs button:hover { text-decoration: none; color: black; }
.tabs .changed { padding-right: 30px; }
.tabs .changed:after { position: absolute; content: '\f111'; font-family: 'Font Awesome 5 Free'; font-weight: 900; font-size: 8px; color: red; margin: 5px 0 0 0; right: 10px; }
.tabs i { margin-right: 5px; }
.tabs .selected { background-color: white; color: black; border-bottom: 0; }
.tabs .br { border-right: 1px solid #D9D9D9; }
.nb { border: 0 !important; }

.body > section.tabs { border-bottom: 1px solid #D9D9D9; }
.body > section.tabs .selected { border-bottom: 1px solid #D9D9D9; }

.themedark .body > section.tabs { border-bottom: 1px solid #303030; height: 50px; }
.themedark .body > section.tabs a { border-bottom-color: #202020; }
.themedark .body > section.tabs .selected { border-bottom: 1px solid #202020; }

.tag { position: relative; display: inline-block; padding: 5px 10px; margin: 0 8px 8px 0; background-color: #3BAFDA; color: white; text-decoration: none; border-radius: 3px; font-size: 12px; cursor: pointer; line-height: 14px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
.tag:hover { opacity: 0.8; text-decoration: none; }
.tag-small { padding: 2px 5px; margin: 5px 5px 0 0; font-size: 11px; }
.tag2 { background-color: #165b7b; }
.block { display: block; }

.components-container { width: 240px; overflow: hidden; padding-right: 20px; }
.components { list-style-type: none; margin: 0; padding: 0; }
.components .component { padding: 2px 15px; cursor: move; font-size: 12px; line-height: 14px; }
.components .component:hover { background-color: #E0E0E0; box-shadow: 0 0 16px 0px rgba(0, 0, 0, 0.1); }
.components .component div { text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
.components .group { text-overflow: ellipsis; overflow: hidden; white-space: nowrap; font-size: 14px; border-top: 1px solid #E0E0E0; padding: 12px 15px 8px; color: gray; font-weight: bold; margin-top: 15px; cursor: default; }
.components .group:first-child { margin-top: 0; border-top: 0; }
.components i { width: 14px; text-align: center; margin-right: 5px; }
.themedark .component:hover { background-color: #202020; }

.designer-container { position: absolute; bottom: 0; right: 0; overflow: hidden; top: 50px; left: 0; }
.designer-scrollbar { width: 111%; overflow: auto; height: 110%; }
.themedark .designer-scrollbar { background-color: #101010; }
.debugoutput { border-bottom: 1px solid #E0E0E0; font-size: 12px; padding: 10px 15px; }
.debugoutput i { margin-right: 5px; }
.debugoutput-time { color: #A0A0A0; line-height: 16px; }
.debugoutput-id { font-size: 11px; color: #A0A0A0; float: right; }
.debugoutput-name { font-size: 12px; line-height: 14px; margin-bottom: 5px; }
.debugoutput-name b { font-size: 11px; }
.debuggroup-name { font-weight: bold; color: black; background-color: #F0F0F0; padding: 3px 5px; border-radius: 3px; }
.themedark .debuggroup-name { color: #E0E0E0; background-color: black; }
.debuggroup { padding: 5px 0 0 15px; }

.themedark .debugoutput-id { color: #505050; }

.erroroutput { border-bottom: 1px solid #E0E0E0; font-size: 11px; padding: 10px 20px; }
.erroroutput i { margin-right: 5px; }
.erroroutput-name { font-size: 12px; line-height: 14px; margin-bottom: 5px; }
.erroroutput-name b { font-size: 11px; }
.erroroutput-errors > div { border: 2px solid #DA4453; padding: 5px; border-radius: 3px; margin-bottom: 5px; }

.themedark .erroroutput { border-color: #404040; }

.bg-fade { background: linear-gradient(#F8F8F8, white); border-bottom: 1px solid #E0E0E0; margin-bottom: 5px; padding-bottom: 7px !important; }
svg { cursor: move; }

.link i { margin-right: 5px; }
.red { color: #E33733 !important; }
.green { color: #8CC152 !important; }
.blue { color: #3BAFDA; }
.black { color: black; }
.gray { color: gray; }
.mr5 { margin-right: 5px; }

#success { height: 40px; top: 58px; left: 194px; width: 40px; background-color: #8CC152; font-size: 25px; line-height: 0; position: fixed; z-index: 19; color: white; text-align: center; padding: 8px 0 0 1px; display: none; transition: all 0.4s; z-index: 1000; border-radius: 3px; box-shadow: 0 2px 10px rgba(0,0,0,0.3); }
.success-animation { transform: scale(2) translate(0, 50px); }
.success { background-color: #8CC152; text-align: center; padding: 8px 10px; font-size: 12px; color: white; }
.success i { margin-right: 5px; }
.mainmenu-hidden #success { left: 30px; top: 80px; }

.singleline { text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
.noscroll { overflow: hidden; }
.hidden { display: none; }

.fs11 { font-size: 11px; line-height: 13px; }
.fs12 { font-size: 12px; line-height: 15px; }
.padding { padding: 20px; }

.b { font-weight: bold; }
.m { margin-bottom: 15px; }
.npb { padding-bottom: 0; }
.nmb { margin-bottom: 0; }
.npt { padding-top: 0; }
.nmt { margin-top: 0; }
.mt5 { margin-top: 5px; }
.mt10 { margin-top: 10px; }
.help { margin-top: 5px; font-size: 11px; color: #A0A0A0; }
.help code { font: normal normal 11px Arial; background-color: #F0F0F0; padding: 1px 5px; border-radius: 3px; }
.help i { margin-right: 5px; }

.md { margin-top: 5px; font-size: 12px; line-height: 16px; font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, sans-serif; color: #404040; }
.md h1 { margin: 0 0 15px; font-size: 23px; padding: 0 0 5px; border-bottom: 1px solid #E0E0E0; color: black; line-height: 23px; font-family: Arial, sans-serif; }
.md h2 { margin: 15px 0 10px; font-weight: bold; font-size: 20px; padding: 0 0 8px; border-bottom: 1px solid #E0E0E0; color: black; line-height: 28px; font-family: Arial, sans-serif; }
.md h3 { margin: 15px 0 10px; font-size: 18px; padding: 0 0 5px; font-weight: bold; color: black; line-height: 22px; font-family: Arial, sans-serif; }
.md h1:first-child { margin-top: 0; }
.md h2:first-child { margin-top: 0; }
.md h3:first-child { margin-top: 0; }
.md p code, .md li code, .md blockquote code, .md h1 code, .md h2 code, .md h3 code, .md h4 code { background-color: #E0E0E0; padding: 0 5px 1px; border-radius: 3px; font-size: 12px; line-height: 15px; }
.md p { margin: 0 0 10px; line-height:  }
.md pre { padding: 0; border-radius: 3px; margin: 10px 0; width: 100%; }
.md pre code { padding: 15px; font-size: 12px; line-height: 16px; }
.md ul { margin: 0 0 10px 0; padding: 0 0 0 2em; }
.md th { background-color: #F8F8F8; }
.md blockquote { border-left: 5px solid #E0E0E0; margin: 6px 0; padding: 6px; color: gray; }
.md blockquote p { margin-bottom: 0; }

/*.markdown { white-space: break-spaces; }*/
.markdown-small .markdown { font-size: 14px; line-height: 18px; }
.markdown { font-size: 16px; line-height: 22px; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; color: #404040; overflow-x: hidden; padding: 0; }
.markdown-container > *:last-child { margin-bottom: 0; }
.markdown code { font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace; }
.markdown h1 { cursor: default; margin: 0 0 20px; font-size: 30px; padding: 0 0 13px; border-bottom: 1px solid #E0E0E0; color: #000; line-height: 38px; font-family: -apple-systm, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-weight: normal; line-height: 32px; font-weight: bold; }
.markdown h2 { cursor: default; margin: 0 0 18px; font-weight: bold; font-size: 25px; padding: 0 0 8px; border-bottom: 1px solid #E0E0E0; color: #000; line-height: 28px; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; }
.markdown h3 { cursor: default; margin: 0 0 10px; font-size: 20px; padding: 0 0 5px; color: #404040; font-weight: bold; line-height: 22px; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; }
.markdown h4, .markdown h5 { cursor: default; margin: 0 0 10px; font-size: 17px; color: #404040; font-weight: bold; line-height: 22px; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; background-color: #F0F0F0; padding: 4px 3px; border-radius: var(--radius); border-bottom: 1px solid #E0E0E0; }
.markdown p { margin: 0 0 15px; padding-left: 0; padding-right: 0; }
.markdown-small p { margin-bottom: 10px; }
.markdown p code, .markdown li code, .markdown section code, .markdown blockquote code, .markdown h1 code, .markdown h2 code, .markdown h3 code, .markdown h4 code, .markdown td code { background-color: #E0E0E0; padding: 1px 4px 2px; border-radius: var(--radius); font-size: 14px; }
.markdown p code, .markdown section code, .markdown li code, .markdown blockquote code, .markdown td code { border: 1px solid #E0E0E0; background-color: #F5F5F5; }
.markdown pre { padding: 0; border-radius: var(--radius); margin: 20px 0; width: 100%; }
.markdown pre code { padding: 10px; font-size: 14px; line-height: 18px; overflow-scrolling: touch; border-radius: var(--radius); }
.markdown table { margin: 0 0 15px; width: auto !important; }
.markdown ul { margin: 0 0 20px 0; padding: 0 0 0 2em; }
.markdown ul ul { margin-bottom: 0; }
.markdown img { max-width: 100%; }
.markdown th { background-color: #F8F8F8; }
.markdown blockquote { color: #000; margin: 0 0 15px; padding: 10px 0 0 20px; position: relative; font-style: italic; }
.markdown blockquote:before { content: '\201C'; position: absolute; margin-left: -18px; margin-top: -13px; font: 45px 'PT Sans', sans-serif; color: #A0A0A0; }
.markdown section { padding: 15px 20px; background-color: #FFFED1; margin: 10px 0 15px; border-radius: var(--radius); }
.markdown hr { border-color: #E0E0E0; border-width: 2px; }
.markdown .line2 { border-width: 4px; margin: 15px 0 30px !important; }
.markdown h1 code { font-size: 28px; font-weight: normal; background-color: #DAE8F8; }
.markdown h2 code { font-size: 23px; font-weight: normal; background-color: #DAE8F8; }
.markdown h3 code { font-size: 18px; font-weight: normal; background-color: #DAE8F8; }
.markdown h4 code { font-size: 17px; font-weight: normal; background-color: #DAE8F8; }
.markdown a code { background-color: #DAE8F8; text-decoration: none !important; border-color: #D5DFEB; }
.markdown-small .markdown h1 { margin: 0 0 20px; font-size: 28px; padding: 0 0 13px; line-height: 30px; line-height: 30px; }
.markdown-footnote { background-color: rgba(0,0,0,0.1); padding: 0 2px; border-radius: var(--radius); cursor: help; }
.markdown-footnotebody { font-size: 11px; border-top: 1px solid #E0E0E0; font-family: Arial; color: #505050; }
.markdown-showsecret { cursor: pointer; display: block; padding: 8px 15px; user-select: none; font-size: 14px; }
.markdown-showsecret b { margin-left: 8px; }
.markdown-showsecret .pull-right { margin: 2px 0 0; }
.markdown-secret { padding: 0; border-radius: var(--radius); border: 1px solid #E0E0E0; }
.markdown-secret > div { padding: 15px 15px 1px; border-radius: 0 0 var(--radius) var(--radius); background-color: #F8F8F8; }
.markdown-small p code, .markdown-small li code, .markdown-small section code, .markdown-small blockquote code, .markdown-small h1 code, .markdown-small h2 code, .markdown-small h3 code, .markdown-small h4 code, .markdown-small td code, .markdown-small pre code { font-size: 12px; }
.markdown-tasks { list-style-type: none; padding-left: 12px !important; }
.markdown-tasks li > i:first-child { margin-right: 5px; }
.markdown-code { margin-bottom: 15px; }
.markdown-block { margin: 0; }
.markdown-block:last-child { margin-bottom: 15px; }
.markdown-block > div { padding: 10px 10px 1px; border: 1px solid #E0E0E0; margin: 10px 0; border-radius: var(--radius); }
.markdown-showblock { cursor: pointer; display: block; padding: 3px 0; user-select: none; border-bottom: 1px solid #E0E0E0; }
.markdown-showblock i { width: 16px; font-size: 12px; padding: 6px 0 0; float: left; }
.markdown-showblock-visible { border-bottom: 0; }
.markdown-showblock code { font-size: 15px; background-color: #DAE8F8; text-decoration: none !important; border-color: #D5DFEB; padding: 1px 2px; border-radius: var(--radius); }

.themedark .markdown { color: #C0C0C0; }
.themedark .markdown blockquote { color: #FFF; }
.themedark .markdown blockquote:before { color: #707070; }
.themedark .markdown th { background-color: #404040; }
.themedark .markdown h2 { color: #FFF; border-bottom-color: #404040; }
.themedark .markdown h1 { color: #FFF; border-bottom-color: #404040; }
.themedark .markdown h1 code { background-color: #404040; }
.themedark .markdown hr { border-color: #404040; }
.themedark .markdown h2 code { background-color: #404040; }
.themedark .markdown h3 code { background-color: #404040; }
.themedark .markdown h4 code { background-color: #404040; }
.themedark .markdown section { background-color: #404040; }
.themedark .markdown a code { background-color: #303030; border-color: #454545; }
.themedark .markdown h4, .themedark .markdown h5 { color: #C0C0C0; background-color: #505050; border-bottom: 1px solid #404040; }
.themedark .markdown p code, .themedark .markdown section code, .themedark .markdown li code, .themedark .markdown blockquote code, .themedark .markdown td code { border-color: #404040; background-color: #505050; }
.themedark .markdown-footnote { background-color: rgba(255,255,255,0.1); }
.themedark .markdown-footnotebody { border-top-color: #505050; color: #888; }
.themedark .markdown-block > div, .themedark .markdown-showblock { border-color: #404040; }
.themedark .markdown-showblock code { background-color: #404040; border-color: #404040; }
.themedark .markdown-secret { border: 1px solid #404040; }
.themedark .markdown-secret > div { background-color: #303030; }

.mainmenu .ui-textbox-label { font-size: 11px; }
.mainmenu .ui-textbox-input { padding: 5px 2px 0 5px; }
.mainmenu .ui-textbox input { font-size: 12px; }
.mainmenu .ui-textbox { height: 24px; }
.mainmenu .ui-textbox-control { width: 26px; font-size: 12px; }

#designerstate { position: absolute; font-size: 11px; color: gray; margin: 0 0 0 20px; bottom: 18px; }

#designerzoom { position: absolute; bottom: 15px; right: 15px; background-color: white; border-radius: 3px; box-shadow: 0 0 10px rgba(0,0,0,0.1); }
#designerzoom button { font-size: 16px; border: 0; border-left: 1px solid #F0F0F0; padding: 2px 0; margin: 0; width: 30px; float:left; text-align: center; color: black; transition: all 0.4s; outline: 0; background-color: transparent; }
#designerzoom button:hover { color: black; }
#designerzoom button:first-child { border-left: 0; }
.themedark #designerzoom button:hover { color: white; }

#designerbuttons { position: absolute; bottom: 15px; right: 130px; background-color: white; border-radius: 3px; box-shadow: 0 0 10px rgba(0,0,0,0.1); }
#designerbuttons button { font-size: 16px; border: 0; border-left: 1px solid #F0F0F0; padding: 2px 0; margin: 0; width: 30px; float:left; text-align: center; color: black; transition: all 0.4s; outline: 0; background-color: transparent; }
#designerbuttons .animate { transform: scale(1.3) rotate(90deg); color: #E33733; }
#designerbuttons button:hover { color: black; }
#designerbuttons button.disabled:hover { color: silver; }
#designerbuttons button:first-child { border-left: 0; border-bottom-left-radius: 3px; border-top-left-radius: 3px; }
#designerbuttons button:last-child { border-bottom-right-radius: 3px; border-top-right-radius: 3px; background-color: #E33733; color: white; }
#designerbuttons .disabled { color: silver !important; cursor: not-allowed; background-color: white !important; }
.themedark #designerbuttons button:hover { color: white; }
.themedark #designerbuttons button.disabled:hover { color: silver; }

.traffic-container { border-top: 1px solid #E0E0E0; height: 25px; font-size: 11px; padding: 0 20px 0 5px; }
.traffic-container:first-child { border-top: 0; }
.traffic-container .sort { cursor: pointer; }
.traffic-container .sort i { margin-right: 3px; font-size: 10px; }
.traffic-container .sort:hover { text-decoration: underline; }
.traffic-name { margin-right: 150px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; padding: 5px 10px; cursor: pointer; }
.traffic-name:hover { text-decoration: underline; }
.traffic-value { float: right; width: 60px; text-align: right; padding: 5px 0 0; }

.button { text-decoration: none; position: relative; display: inline-block; margin: 0; font-size: 11px; border: 1px solid #D0D0D0; border-radius: 3px; background-color: white; background: linear-gradient(white,#F0F0F0); padding: 10px 13px; font: normal normal 11px Arial; vertical-align: middle; color: gray; cursor: pointer; outline: 0; }
.button:hover { border: 1px solid silver; text-decoration: none; }
.button:active { box-shadow: inset 0 0 5px silver; color: #A4A4A4; }
.button:disabled { color: silver; border: 1px solid #E0E0E0; cursor: not-allowed; }

.button-small { padding: 4px 8px; }
.blink { animation: blinker 0.5s infinite alternate; background-color: #8CC152 !important; }

.db-container { margin: 0 -10px; }
.db-norefresh .db-refresh { display: none; }
.db-item { border-bottom: 1px solid #E0E0E0; padding: 5px 0; margin: 0 10px; }
.db-item > span { float: right; width: 22px; text-align: right; margin: 2px 0 0 0; cursor: pointer; color: #E33733; font-size: 12px; }
.db-item > span .fa-refresh { color: #909090; }
.db-item > span:hover { opacity: 0.8; }
.db-item > div { margin-right: 60px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.db-item > div i { font-size: 11px; }
.db-item .canupdate { display: none; color: red; margin-left: 5px; font-size: 11px; }
.db-item-update .canupdate { display: inline-block; }
.db-item .name { font-size: 12px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; color: #505050; }
.db-item .name span { color: gray; }
.db-category { font-size: 16px; color: black; margin: 15px 10px 10px; font-weight: bold; border-bottom: 3px solid black; padding: 5px 0; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
.db-category i { margin-right: 8px; }
.db-item .datetime { font-size: 11px; color: #A0A0A0; }
.db-item .datetime i { margin-right: 5px; }

.tabs-tools { border-bottom: 1px solid #D9D9D9; float: right; background-color: #edeff1; }
.tabs-tools button { padding: 0; width: 50px; height: 49px; font-size: 16px; color: black; cursor: pointer; background-color: transparent; border: 0; border-left: 1px solid #D0D0D0; outline: 0; }
.tabs-tools button:last-child { border-right: 0; }
.tabs-tools button:hover { opacity: 0.7; }
.tabs-tools .scrolling { width: 32px; background-color: #F8F8F8; }
.themedark .tabs-tools { border-bottom-color: #303030; background-color: #181818; }
.themedark .scrolling { background-color: #252525; }

.bg-smoke { background-color: #F8F8F8; }
.bg-yellow { background-color: #FFFFD5; }

@keyframes blinker {
	0% { background-color: #9BD15F; }
	100% { background-color: #78AD3E;  }
}

.designer-shadow-top { position: absolute; left: 0; top: -10px; right: 0; height: 10px; box-shadow: 0 0 25px rgba(0,0,0,0.05); width: 100%; }
.designer-shadow-bottom { position: absolute; left: 0; bottom: -10px; right: 0; height: 10px; box-shadow: 0 0 25px rgba(0,0,0,0.1); width: 100%; }
.designer-shadow-left { position: absolute; left: -10px; top: 0; bottom: 0; right: 0; height: 100%; box-shadow: 0 0 25px rgba(0,0,0,0.1); width: 10px; }
.designer-shadow-right { position: absolute; bottom: 0; top: 0; right: -10px; height: 100%; box-shadow: 0 0 25px rgba(0,0,0,0.1); width: 10px; }

.themedark { color: gray; background-color: #1B1A1D; }
.themedark .ui-form-container { color: #505050; }
.themedark .body { background-color: #202020; border-color: #303030; }
.themedark .designer-container { box-shadow: inset 0 0 20px rgba(0,0,0,0.8); }
.themedark .mainmenu { background-color: #202020; color: gray; }
.themedark .components .group { color: white; border-top-color: #303030; }
.themedark .components .component { border-color: #303030; }
.themedark .components .component:hover { background-color: #2b2b2b; box-shadow: 0 0 16px 0px rgba(0, 0, 0, 0.1); }
.themedark .tabs { background-color: #101010; box-shadow: inset 0 -2px 10px rgba(255,255,255,0.04); }
.themedark .tabs .selected { background-color: #202020; color: white; }
.themedark .tabs .br { border-right-color: #303030; }
.themedark .tabs a { border-color: #303030; }
.themedark .tabs a:hover { color: white; }
.themedark .tabs button { border-color: #303030; }
.themedark .tabs button:hover { color: white; }
.themedark nav .highlight { background-color: #404040; }
.themedark .panel { background-color: #202020; }
.themedark .panel hr { border-color: #303030; }
.themedark .panel .ui-checkbox div { border-color: #606060; background-color: #606060; }
.themedark .panel .ui-checkbox-checked div { background-color: #4299F7; border-color: #4299F7; }
.themedark .traffic-container { border-color: #303030; }
.themedark #designerbuttons { background-color: #151515; }
.themedark #designerzoom { background-color: #151515; }
.themedark #designerzoom button { border-color: #202020; color: white; }
.themedark #designerbuttons button { border-color: #202020; color: #A0A0A0; }
.themedark #designerbuttons button.designerbuttons-remove { color: #E0E0E0; }
.themedark #designerbuttons .disabled { color: #404040 !important; background-color: #303030 !important; }
.themedark .mainmenu .ui-textbox { background-color: #303030; border-color: #303030; }
.themedark .mainmenu .ui-textbox input { background-color: #303030; color: gray; }
.themedark .mainmenu .ui-textbox div { border-color: #404040; color: gray; }
.themedark .traffic-container.b { color: white; }
.themedark .debugoutput { border-color: #303030; }
.themedark .debugoutput .hljs { background-color: #303030; color: gray; }
.themedark #info-panel .hljs { background-color: #303030; color: gray; }
.themedark #info-panel .hljs-keyword { color: #D0D0D0; }
.themedark .hljs { scrollbar-color: #505050 #252525; }

.themedark .designer-shadow-top { box-shadow: 0 0 25px rgba(0,0,0,0.4); }
.themedark .designer-shadow-bottom { box-shadow: 0 0 25px rgba(0,0,0,0.4); }
.themedark .designer-shadow-left { box-shadow: 0 0 25px rgba(0,0,0,0.4); }
.themedark .designer-shadow-right { box-shadow: 0 0 25px rgba(0,0,0,0.4); }
.themedark .tabs-tools button { color: white; border-left-color: #303030; }
.themedark .debugoutput .hljs-keyword { color: #D0D0D0; }
.themedark .markdown { color: #A0A0A0; }
.themedark .markdown h1 { border-color: #303030; color: white; }
.themedark .markdown h2 { border-color: #303030; color: white; }
.themedark .markdown h3 { color: white; }
.themedark .markdown p code, .themedark .markdown li code, .themedark .markdown blockquote code, .themedark .markdown h1 code, .themedark .markdown h2 code, .themedark .markdown h3 code, .themedark .markdown h4 code { background-color: #404040; }
.themedark .markdown th { background-color: #404040; }
.themedark .markdown blockquote { border-color: #303030; color: gray; }

.mainmenu-hidden .mainmenu { margin-left: -216px; }
.mainmenu-hidden .body { margin-left: 0; }

.variablesexample { font-size: 12px; font-family: monospace; color: black; line-height: 16px; background-color: #F0F0F0; border-radius: 3px; padding: 15px; }
.variablesexample span { color: #2B653F; }
.variablesexample i { color: gray; }

.fr { float: right; }

.db-template { height: 45px; border-bottom: 1px solid #E0E0E0; font-size: 12px; }
.db-template > i { width: 34px; float: left; padding: 12px 0 0; color: #8CC152; height: 44px; font-size: 20px; }
.db-template > div { margin: 0 80px 0 34px; }
.db-template > div > div:first-child { padding: 3px 0 0; font-weight: bold; color: black; font-size: 14px; }
.db-template .link { float: right; width: 80px; text-align: right; line-height: 45px; height: 45px; font-size: 14px; text-transform: uppercase; font-weight: bold; }

.panel-resize-handle { position: absolute; width: 5px; height: 100%; cursor: ew-resize; transition: background-color 0.2s; }
.panel-resize-handle:hover { background-color: rgba(191, 191, 191, 0.16); }
.panel-resize-handle.active { background-color: rgba(191, 191, 191, 0.16); }
.touch .panel-resize-handle { width: 15px; }

.keepbreaks { white-space: pre-wrap; }

.cm-tab { background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAMCAYAAAAkuj5RAAAAKElEQVRIiWNgGAWjYBQMacDIwMBgzMDAcBZKw8BQ4I+CUTAKRsEgAAAA4AwCz6/F0QAAAABJRU5ErkJggg==) no-repeat 100% 50%; }