/*auto*/
html,body { height: 100%; overflow: hidden; }
body { background-color: #E6E9ED; font-smoothing: antialiased; }

.mainmenu { float: left; width: 260px; height: 100%; background-color: white; overflow: hidden; transition: margin 0.3s; }
.panel { float: right; width: 380px; height: 100%; background-color: white; overflow: hidden; transition: margin-right 0.3s; position: relative; }
.panel-minized .panel { margin-right: -334px; }
.panel-minized .body { margin-right: 30px; }
.body { margin-left: 260px; margin-right: 380px; height: 100%; border-left: 1px solid #D0D0D0; border-right: 1px solid #D0D0D0; overflow: hidden; background-color: #F0F0F0; position: relative; transition: margin 0.3s; }

#panel-notification { background-color: #FFFCD5; color: #837D2E; left: 20px; right: 20px; bottom: 17px; border-radius: 3px; box-shadow: 0 2px 10px rgba(0,0,0,0.04); position: absolute; padding: 12px 15px; font-size: 12px; transition: all 0.5s; transform: translate(150px,0); opacity: 0; border: 1px solid #EDE99C; z-index: 100 }
#panel-notification div { line-height: 14px; margin-top: 3px; }
#panel-notification label { font-size: 10px; text-transform: uppercase; display: block; font-weight: bold; color: black; }
#panel-notification label .fa { margin-right: 3px; margin-bottom: 3px; }
.panel-notified { transform: translate(0px,0) !important; opacity: 1 !important; }

#infopanelnotes .markdown { margin: 5px 0 20px; padding: 15px 15px 5px; border-radius: 3px; background-color: #FEFBE8; border: 1px solid #FDF5C8; color: #573C0F; }
#infopanelnotes .markdown hr { border-color: #eae2b1; }
.themedark #infopanelnotes .markdown { background-color: #171717; border-color: #252525; color: gray; }
.themedark #infopanelnotes .markdown hr { border-color: #383838; }

section > label .fa { margin-right: 5px; }
section > label { display: block; padding: 8px 15px; color: #A0A0A0; font-size: 10px; text-transform: uppercase; background-color: #F9F9F9; border-radius: 4px 4px 0 0; text-shadow: 0 1px 1px white; border: 1px solid #E0E0E0; border-bottom: 0; font-weight: bold; }
section > div { background-color: white; border-radius: 0 0 4px 4px; line-height: 18px; border: 1px solid #E0E0E0; }
section > div:first-child { border-radius: 4px; }

nav > .onlyicon { min-width: 30px; }
nav > .onlyicon .fa { margin-right: 0; width: 100%; text-align: center; display: block; padding-top: 3px; }
nav .highlight .fa { color: white; }
nav .highlight { color: white !important; background-color: silver; font-weight: bold; text-shadow: 1px 1px 1px rgba(0,0,0,0.1); }

.tabs { background-color: #E6E9ED; box-shadow: inset 0 -2px 10px rgba(0,0,0,0.04); height: 50px; }
.tabs a { float: left; padding: 15px 14px 0; font-size: 14px; color: gray; height: 50px; border-left: 1px solid #D9D9D9; max-width: 150px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; transition: all 0.5s; text-align: center; border-bottom-color: #D9D9D9; }
.tabs a:first-child { border-left: 0; }
.tabs .fa { margin-right: 5px; }
.tabs a:hover { text-decoration: none; color: black; }
.tabs .selected { background-color: white; color: black; border-bottom: 0; }
.tabs .br { border-right: 1px solid #D9D9D9; }
.nb { border: 0 !important; }

.body > section.tabs { border-bottom: 1px solid #D9D9D9; }
.body > section.tabs .selected { border-bottom: 1px solid #D9D9D9; }

.themedark .body > section.tabs { border-bottom: 1px solid #202020; height: 51px; }
.themedark .body > section.tabs a { border-bottom-color: #202020; }
.themedark .body > section.tabs .selected { border-bottom: 1px solid #202020; }

.tag { position: relative; display: inline-block; padding: 5px 10px; margin: 0 8px 8px 0; background-color: #3BAFDA; color: white; text-decoration: none; border-radius: 3px; font-size: 12px; cursor: pointer; line-height: 14px; }
.tag:hover { opacity: 0.8; text-decoration: none; }
.tag-small { padding: 2px 5px; margin: 5px 5px 0 0; font-size: 11px; }
.tag2 { background-color: #165b7b; }
.block { display: block; }

.components-container { width: 280px; overflow: hidden; padding-right: 20px; }
.components { list-style-type: none; margin: 0; padding: 0; }
.components .component { border-bottom: 1px solid #E0E0E0; padding: 5px 15px; cursor: move; font-size: 12px; line-height: 14px; }
.components .component div { text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
.components .group { text-overflow: ellipsis; overflow: hidden; white-space: nowrap; font-size: 14px; background: linear-gradient(#F8F8F8, white); padding: 10px 15px; color: gray; }
.components .fa { width: 18px; }

.designer-container { position: absolute; bottom: 0; right: 0; overflow: hidden; top: 50px; left: 0; }
.designer-scrollbar { width: 111%; overflow: auto; height: 110%; }
.themedark .designer-scrollbar { background-color: #101010; }
.debugoutput { border-bottom: 1px solid #E0E0E0; font-size: 12px; padding: 10px 15px; }
.debugoutput .fa { margin-right: 5px; }
.debugoutput-time { color: #A0A0A0; line-height: 16px; }
.debugoutput-id { font-size: 11px; color: #A0A0A0; float: right; }
.debugoutput-name { font-size: 12px; line-height: 14px; }
.debugoutput-name b { font-size: 11px; }
.debuggroup-name { font-weight: bold; color: black; background-color: #F0F0F0; padding: 3px 5px; border-radius: 3px; }
.themedark .debuggroup-name { color: #E0E0E0; background-color: black; }
.debuggroup { padding: 5px 0 0 15px; }

.themedark .debugoutput-id { color: #505050; }

.erroroutput { border-bottom: 1px solid #E0E0E0; font-size: 11px; padding: 10px 20px; }
.erroroutput .fa { margin-right: 5px; }
.erroroutput-name { font-size: 12px; line-height: 14px; margin-bottom: 5px; }
.erroroutput-name b { font-size: 11px; }
.erroroutput-errors > div { border: 2px solid #DA4453; padding: 5px; border-radius: 3px; margin-bottom: 5px; }

.themedark .erroroutput { border-color: #404040; }

.bg-fade { background: linear-gradient(#F8F8F8, white); border-bottom: 1px solid #E0E0E0; margin-bottom: 5px; padding-bottom: 7px !important; }
svg { cursor: move; }

.link .fa { margin-right: 5px; }
.red { color: #E33733; }
.green { color: #8CC152; }
.blue { color: #3BAFDA; }
.black { color: black; }
.gray { color: gray; }
.mr5 { margin-right: 5px; }

#success { height: 40px; top: 50px; left: 240px; width: 40px; background-color: #8CC152; font-size: 25px; line-height: 0; position: fixed; z-index: 20; color: white; text-align: center; padding: 8px 0 0 1px; display: none; transition: all 0.4s; z-index: 1000; border-radius: 4px; box-shadow: 0 2px 10px rgba(0,0,0,0.3); }
.success-animation { transform: scale(2) translate(0, 50px); }
.success { background-color: #8CC152; text-align: center; padding: 8px 10px; font-size: 12px; color: white; }
.success .fa { margin-right: 5px; }
.mainmenu-hidden #success { left: 30px; }

.singleline { text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
.noscroll { overflow: hidden; }
.hidden { display: none; }

.fs11 { font-size: 11px; line-height: 13px; }
.fs12 { font-size: 12px; line-height: 15px; }
.padding { padding: 20px; }

.b { font-weight: bold; }
.m { margin-bottom: 15px; }
.npb { padding-bottom: 0; }
.nmb { margin-bottom: 0; }
.npt { padding-top: 0; }
.nmt { margin-top: 0; }
.mt5 { margin-top: 5px; }
.mt10 { margin-top: 10px; }
.help { margin-top: 5px; font-size: 11px; color: #A0A0A0; }
.help code { font: normal normal 11px Arial; background-color: #F0F0F0; padding: 1px 5px; border-radius: 4px; }
.help .fa { margin-right: 5px; }

.scroller { width: 110%; height: 100%; overflow-x: hidden; padding-right: 10%; overflow-scrolling: touch; }

.markdown { margin-top: 5px; font-size: 12px; line-height: 16px; font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, sans-serif; color: #404040; }
.markdown h1 { margin: 0 0 15px; font-size: 23px; padding: 0 0 5px; border-bottom: 1px solid #E0E0E0; color: black; line-height: 23px; font-family: Arial, sans-serif; }
.markdown h2 { margin: 15px 0 10px; font-weight: bold; font-size: 20px; padding: 0 0 8px; border-bottom: 1px solid #E0E0E0; color: black; line-height: 28px; font-family: Arial, sans-serif; }
.markdown h3 { margin: 15px 0 10px; font-size: 18px; padding: 0 0 5px; font-weight: bold; color: black; line-height: 22px; font-family: Arial, sans-serif; }
.markdown h1:first-child { margin-top: 0; }
.markdown h2:first-child { margin-top: 0; }
.markdown h3:first-child { margin-top: 0; }
.markdown p code, .markdown li code, .markdown blockquote code, .markdown h1 code, .markdown h2 code, .markdown h3 code, .markdown h4 code { background-color: #E0E0E0; padding: 0 5px 1px; border-radius: 4px; font-size: 12px; line-height: 15px; }
.markdown p { margin: 0 0 10px; line-height:  }
.markdown pre { padding: 0; border-radius: 4px; margin: 10px 0; width: 100%; }
.markdown pre code { padding: 15px; font-size: 12px; line-height: 16px; }
.markdown ul { margin: 0 0 10px 0; padding: 0 0 0 2em; }
.markdown th { background-color: #F8F8F8; }
.markdown blockquote { border-left: 5px solid #E0E0E0; margin: 6px 0; padding: 6px; color: gray; }
.markdown blockquote p { margin-bottom: 0; }

.mainmenu .ui-textbox-label { font-size: 11px; }
.mainmenu .ui-textbox { padding: 3px 2px 4px 5px; }
.mainmenu .ui-textbox input { font-size: 12px; }

#designerstate { position: absolute; font-size: 11px; color: gray; margin: 0 0 0 20px; bottom: 18px; }

#designerzoom { position: absolute; bottom: 15px; right: 15px; background-color: white; border-radius: 4px; box-shadow: 0 0 10px rgba(0,0,0,0.1); }
#designerzoom button { font-size: 16px; border: 0; border-left: 1px solid #F0F0F0; padding: 2px 0; margin: 0; width: 30px; float:left; text-align: center; color: black; transition: all 0.4s; outline: 0; background-color: transparent; }
#designerzoom button:hover { color: black; }
#designerzoom button:first-child { border-left: 0; }
.themedark #designerzoom button:hover { color: white; }

#designerbuttons { position: absolute; bottom: 15px; right: 130px; background-color: white; border-radius: 4px; box-shadow: 0 0 10px rgba(0,0,0,0.1); }
#designerbuttons button { font-size: 16px; border: 0; border-left: 1px solid #F0F0F0; padding: 2px 0; margin: 0; width: 30px; float:left; text-align: center; color: black; transition: all 0.4s; outline: 0; background-color: transparent; }
#designerbuttons .animate { transform: scale(1.3) rotate(90deg); color: #E33733; }
#designerbuttons button:hover { color: black; }
#designerbuttons button:first-child { border-left: 0; border-bottom-left-radius: 4px; border-top-left-radius: 4px; }
#designerbuttons button:last-child { border-bottom-right-radius: 4px; border-top-right-radius: 4px; background-color: #E33733; color: white; }
#designerbuttons .disabled { color: silver !important; cursor: not-allowed; background-color: white !important; }
.themedark #designerbuttons button:hover { color: white !important; }

.traffic-container { border-top: 1px solid #E0E0E0; height: 25px; font-size: 12px; padding: 0 20px 0 5px; }
.traffic-container:first-child { border-top: 0; }
.traffic-name { margin-right: 120px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; padding: 5px 10px; }
.traffic-value { float: right; width: 60px; text-align: right; padding: 5px 0 0; }

.button { text-decoration: none; position: relative; display: inline-block; margin: 0; font-size: 11px; border: 1px solid #D0D0D0; border-radius: 4px; background-color: white; background: linear-gradient(white,#F0F0F0); padding: 10px 13px; font: normal normal 11px Arial; vertical-align: middle; color: gray; cursor: pointer; outline: 0; }
.button:hover { border: 1px solid silver; text-decoration: none; }
.button:active { box-shadow: inset 0 0 5px silver; color: #A4A4A4; }
.button:disabled { color: silver; border: 1px solid #E0E0E0; cursor: not-allowed; }

.button-small { padding: 4px 8px; }
.blink { animation: blinker 0.5s infinite alternate; background-color: #8CC152 !important; }

.db-container { margin: 0 -10px; }
.db-norefresh .db-refresh { display: none; }
.db-item { position: relative; display: inline-block; background-color: white; border: 2px solid #E0E0E0; padding: 4px 10px; width: 206px; margin: 10px 10px 5px; border-radius: 3px; }
.db-item > span { float: right; width: 20px; text-align: right; margin: 0; cursor: pointer; color: #E33733; }
.db-item > span .fa-refresh { color: #909090; }
.db-item > span:hover { opacity: 0.8; }
.db-item > div { margin-right: 20px; width: 130px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.db-item .name { font-size: 12px; font-weight: bold; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; color: #505050; }
.db-item .author { font-size: 11px; color: gray; }
.db-category { font-size: 16px; color: black; margin: 15px 10px 5px; font-weight: bold; border-bottom: 3px solid black; padding: 5px 0; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
.db-category .fa { margin-right: 8px; }
.db-item .datetime { font-size: 11px; color: #A0A0A0; }
.db-item .datetime .fa { margin-right: 5px; }

.themechanger { float: right; padding: 15px 15px 0; height: 40px; font-size: 16px; color: black; cursor: pointer; }
.themechanger:hover { opacity: 0.7; }

.bg-smoke { background-color: #F8F8F8; }
.bg-yellow { background-color: #FFFFD5; }

@keyframes blinker {
	0% { background-color: #9BD15F; }
	100% { background-color: #78AD3E;  }
}

.designer-shadow-top { position: absolute; left: 0; top: -10px; right: 0; height: 10px; box-shadow: 0 0 25px rgba(0,0,0,0.1); width: 100%; }
.designer-shadow-bottom { position: absolute; left: 0; bottom: -10px; right: 0; height: 10px; box-shadow: 0 0 25px rgba(0,0,0,0.2); width: 100%; }
.designer-shadow-left { position: absolute; left: -10px; top: 0; bottom: 0; right: 0; height: 100%; box-shadow: 0 0 25px rgba(0,0,0,0.2); width: 10px; }
.designer-shadow-right { position: absolute; bottom: 0; top: 0; right: -10px; height: 100%; box-shadow: 0 0 25px rgba(0,0,0,0.2); width: 10px; }

.themedark { color: gray; background-color: #1B1A1D; }
.themedark .ui-form-container { color: #505050; }
.themedark .body { background-colo: #202020; border-color: #303030; }
.themedark .designer-container { box-shadow: inset 0 0 20px rgba(0,0,0,0.8); }
.themedark .mainmenu { background-color: #202020; color: gray; }
.themedark .components .group { background: linear-gradient(#303030,#202020); color: white; }
.themedark .components .component { border-color: #303030; }
.themedark .tabs { background-color: #101010; box-shadow: inset 0 -2px 10px rgba(255,255,255,0.04); }
.themedark .tabs .selected { background-color: #202020; color: white; }
.themedark .tabs a { border-color: #303030; }
.themedark .tabs .br { border-right-color: #303030; }
.themedark .tabs a:hover { color: white; }
.themedark nav .highlight { background-color: #404040; }
.themedark .panel { background-color: #202020; }
.themedark .panel hr { border-color: #303030; }
.themedark .panel .ui-checkbox div { border-color: #303030; background-color: #303030; }
.themedark .traffic-container { border-color: #303030; }
.themedark #designerbuttons { background-color: #151515; }
.themedark #designerzoom { background-color: #151515; }
.themedark #designerzoom button { border-color: #202020; color: white; }
.themedark #designerbuttons button { border-color: #202020; color: #A0A0A0; }
.themedark #designerbuttons button.designerbuttons-remove { color: #E0E0E0; }
.themedark #designerbuttons .disabled { color: #404040 !important; background-color: #303030 !important; }
.themedark .mainmenu .ui-textbox { background-color: #303030; border-color: #303030; }
.themedark .mainmenu .ui-textbox input { background-color: #303030; color: gray; }
.themedark .mainmenu .ui-textbox div { border-color: #404040; color: gray; }
.themedark .traffic-container.b { color: white; }
.themedark .debugoutput { border-color: #303030; }
.themedark .debugoutput .hljs { background-color: #303030; color: gray; }
.themedark #infopanel .hljs { background-color: #303030; color: gray; }
.themedark #infopanel .hljs-keyword { color: #D0D0D0; }

.themedark .designer-shadow-top { box-shadow: 0 0 25px rgba(0,0,0,0.8); }
.themedark .designer-shadow-bottom { box-shadow: 0 0 25px rgba(0,0,0,0.8); }
.themedark .designer-shadow-left { box-shadow: 0 0 25px rgba(0,0,0,0.8); }
.themedark .designer-shadow-right { box-shadow: 0 0 25px rgba(0,0,0,0.8); }
.themedark .themechanger { color: white; }
.themedark .debugoutput .hljs-keyword { color: #D0D0D0; }
.themedark .markdown { color: #A0A0A0; }
.themedark .markdown h1 { border-color: #303030; color: white; }
.themedark .markdown h2 { border-color: #303030; color: white; }
.themedark .markdown h3 { color: white; }
.themedark .markdown p code, .themedark .markdown li code, .themedark .markdown blockquote code, .themedark .markdown h1 code, .themedark .markdown h2 code, .themedark .markdown h3 code, .themedark .markdown h4 code { background-color: #404040; }
.themedark .markdown th { background-color: #404040; }
.themedark .markdown blockquote { border-color: #303030; color: gray; }

.mainmenu-hidden {  }
.mainmenu-hidden .mainmenu { margin-left: -220px; }
.mainmenu-hidden .body { margin-left: 40px; }

.variablesexample { font-size: 12px; font-family: monospace; color: black; line-height: 16px; background-color: #F0F0F0; border-radius: 4px; padding: 15px; }
.variablesexample span { color: #2B653F; }
.variablesexample i { color: gray; }

.fr { float: right; }